body {
    font-family: "Montserrat";
}

#title {
    background-color: #ff4c68;
    color: white;
    overflow: hidden;
}

/****************************** letra ******************************/
h1 {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

h3 {
    font-family: "Montserrat-Black", sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
}

h2 {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: #8f8f8f;

}

/************************** navbar*********************/
.container-fluid {
    padding: 3% 15%;
}

.navbar {
    padding-bottom: 4.5rem;
}

.nav-item {
    padding: 0 18px 0 18px;

}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-light";
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.download-btn {
    margin: 5% 3% 5% 0;
}

/******************************* images******************* */
.image-title {
    transform: rotate(25deg);
    width: 60%;

    margin: 3em 5em -12em;
}

/* **********************features****************** */
.icon {
    color: #ef8172;
    margin-bottom: 1rem;

}

.icon:hover {
    color: #ff4c68;
}

#features {
    padding: 7% 15%;
}

/* testimonial */
#testimonials {
    background-color: #ef8172;
    font-family: 'Montserrat-Bold';
    
    text-align: center;
    color: #fff;
}

.dog-test-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}

/* press */
#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 15px;
}

/* PRICING */
.price-head{
    text-align: center;
}
#pricing{
    padding: 100px;
}